.aligntop, .rightjust {
    /* border: 1 px solid red*/
    width: 49%;
    display: inline-block;
}
.rightjust{
    text-align: right;
}
.aligntop{
    vertical-align: top;
}

#name {
    font-size: 2em;
    font-weight: bold;
}

h1, p {
    margin: 0;
}
div {
    display: inline-block
}
table {
    width: 80%;    
text-align: center;
}
/*allows you to consolidate a style too multiple elements in a table.*/
table, tr, th, td {
    border: 1px solid silver;
    border-collapse: collapse;
}

td {
    width: 20%;
    text-align:center;
}
.role {
    font-weight: bold;
}
.company {
    font-style: italic;
}
.job-max {
    color: peru
}